#imgProfile{
  width: 150px; 
  height: 150px;
  border-radius: 15px 50px;
}

.d-block{
  font-size: 1.5rem; 
  font-weight: bold;
}

#profilePicture{
  display: none;
}

label{
  font-weight:bold;
}


input{
  width: 300px;
}

.main{
  background-image:url("../images/bus.jpg");
  background-repeat: no-repeat;
  width:100%;
  background-size: cover;
  position:absolute;
}

footer{
	position: relative;
	top:900px;
  	background-color: #f5f4f2;
}