
.nav-menu{
    margin-top: 50px;
}
table td, table th{
    text-align: center;
}

input{

    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.btn-info{
    background-color: #ffffff;
    color: #17a2b8;
    border: 0;  
}
button.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #084a54;
  background-color: #fff;
  border-color:  0;
}
button.btn-info:hover{
    background-color:#fff;
    border: 0;
    color: #138496;
}
/*.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 179, 128, 0.5);
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 179, 128, 0.5);
}*/


.paging_simple_numbers a{

}